/* 1. Page */

.my-projects {
    background-color: #123c66;
    padding: 20px;
}

/* 2. Fonts */

.my-projects h1 {
    color: #fff;
}

.project-content {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    width: 95%;
}

/* 3. Buttons */

.my-projects .cta-primary {
    background-color: #fff;
    color: #336699;
}

.my-projects .cta-primary:hover {
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
}

/* 4. Featured projects */

.project {
    display: flex;
    border: 1px solid #ccc;
    border-radius: .75em;
    background-color: #fbfcff;
    max-height: 300px
}


.project-image {
    border-radius: .75em 0 0 .75em;
    width: 30%;
}

.project-title {
    font-weight: 700;
}

a {
    text-decoration: none;
    color:unset;
}

.project-description {
    padding: 20px;
}

/* 5. Images */

