/* 1. Fonts */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

:root {
    --page-font: 'Jost', sans-serif;
    --light-weight: 300;
    --regular-weight: 400;
    --bold-weight: 500;
    --extra-bold-weight: 600;
    --gray: #F3F4F8;
    --green: #02eb41;
    --dark-gray: #404252;
    --white: #FFF;
}

body {
    font-family: var(--page-font);
    margin: 0;

}

h1  {
    font-weight: var(--light-weight);
}

h1.banner-title {
    color: var(--dark-gray);
    font-weight: var(--regular-weight);
}



.contact-me-form h1 {
    color: var(--gray);
}

h1 {
    margin: 0;
    color: var(--dark-gray);
    font-size: 2em;
}

.add-links h1 {
    color: var(--dark-gray);
}

button {
    font-family: var(--page-font);
}

/* 2. Navigation Bar*/
nav {
    margin-left: -10px;
    padding: 5px;
    box-shadow: 0 5px 10px #cccccc;
    background-color: var(--dark-gray);
    width: 100%;
}

nav li{
    list-style: none;
    font-family: var(--page-font);
    font-weight: var(--light-weight);
    font-size: 16px;
}

nav ul {
    display: flex;
    gap: 20px
}

.links {
    position: relative;
    text-decoration: none;
    color: var(--white);
}

.links:hover {
    color: var(--white);
}

.links::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
    
  }

  .links:hover::before {
    transform: scaleX(1);
  }

/* 3. Banners */

.banner {
    background-color: var(--gray);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 4. Selections  */

.add-links {
    padding: 20px;
    background-color: var(--gray);
}

.add-links .main-selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    height: 500px;
}

.selection-container {
    max-width: 150px;
    border-radius: 1em;
    padding: 30px;
    background-color: var(--white);
    border: 1px solid var(--dark-gray);
}

.selection-container:hover {
    box-shadow: 0 0 5px var(--dark-gray);
    cursor: pointer;
}

.selection-title {
    font-family: var(--page-font);
    font-weight: var(--regular-weight);
    color: var(--dark-gray);
    font-size: 24px;
}

.selection-description {
    font-family: var(--page-font);
    font-weight: var(--light-weight);
    font-size: 18px;
}

.selection-img {
    max-width: 80%;
}

a .selection-container {
    text-decoration: none;
}

/* 4.Buttons */

.cta-primary {
    display: none;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    border-radius: .75em;
    padding: 20px;
    font-size: 24px;
    width: 10em;
    
}

.cta-primary:hover {
    background-color: #fff;
    color: var(--green);
}

.cta-secondary {
    width: 50%;
    background-color: var(--green);
    border: 1px solid var(--green);
    padding: 10px;
    border-radius: .75em;
    font-size: 14px;
    font-weight: var(--regular-weight);
}

.cta-secondary:hover {
    cursor: pointer;
}

/* 5. Form */

.contact-me-form {
    background-color: var(--dark-gray);
    padding: 20px;
}

.contact-me-form section {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.contact-me {
    background-color: var(--gray);
    padding: 30px;
    border-radius: .75em;
    max-width: 80%;
    width: 80%;
}

.form-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

input {
    padding: .75em;
    width: 20em;
}

form .cta-secondary {
    align-self: flex-end;
}

label {
    font-weight: var(--regular-weight);
}

textarea {
    font-family:var(--page-font);
    resize: none;
}

.email-thankyou {
    display: none;
    align-self: flex-start;
    padding: 4em;
    
}

/* PROJECTS SECTION */
.my-projects {
    background-color: var(--dark-gray);
    padding: 20px;
}

/* 2. Fonts */

.my-projects h1 {
    color: var(--gray);
}

.my-projects section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-content {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: var(--white);
    max-width: 80%;
}

/* 3. Buttons */

.my-projects .cta-primary {
    background-color: var(--white);
    color: var(--gray);
}

.my-projects .cta-primary:hover {
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
}

/* 4. Featured projects */

.project {
    display: flex;
    border: 1px solid #ccc;
    border-radius: .75em;
    background-color: var(--gray);
    max-height: 300px
}


.project-image {
    border-radius: .75em 0 0 .75em;
    width: 30%;
}

.project-title {
    font-weight: var(--regular-weight);
}

a {
    text-decoration: none;
    color:unset;
}

.project-description {
    padding: 20px;
}