/* 1. Fonts */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

/* 2. Navigation Bar*/
nav {
    margin-bottom: 50px;
    margin-left: -10px;
    padding: 5px;
    box-shadow: 0 5px 10px #cccccc;
    background-color: #336699;
    width: 100%;
}

nav li{
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

nav ul {
    display: flex;
    gap: 20px
}

.links {
    position: relative;
    text-decoration: none;
    color: #fff;
}

.links:hover {
    color: #fff;
}

.links::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
    
  }

  .links:hover::before {
    transform: scaleX(1);
  }

/* 3. Selections  */

.main-selection {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.selection-container {
    box-shadow: 0 0 10px #cccccc;
    width: 30%;
    border-radius: 1em;
    padding: 30px;
}

.selection-container:hover {
    box-shadow: 0 0 15px #6699FF;
    transform: scale(1.02);
    cursor: pointer;
}

.selection-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    color: #336699;
    font-size: 24px;
}

.selection-description {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.selection-img {
    max-width: 100%;
}

/* 4. Footer */

footer {
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.social-icons img{
    width: 25px;
}